div{
	background-color: lightskyblue;
	display: inline-block; border: 2px solid black;
}
.kutu1{width: 100px; height: 150px;}
.kutu2{width: 200px; height: 150px; position: relative;}
.kutu3{width: 120px; height: 70px; position: absolute; left: 50px; top: 50px;}